.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
revdep
cffr.Rcheck/
cffr*.tar.gz
cffr*.tgz
.Rdata
.DS_Store
docs
docs/
inst/doc
/doc/
/Meta/
/dev/
cran-comments.md
CRAN-RELEASE
