* text=auto eol=lf

# Binary files
*.7z binary -eol
*.gz binary -eol
*.ico binary -eol
*.jpg binary -eol
*.jpeg binary -eol
*.png binary -eol
*.rda binary -eol
*.RData binary -eol
*.rds binary -eol
*.tar binary -eol
*.tgz binary -eol
*.xlsx binary -eol
*.zip binary -eol

# Common text formats used in this repository
*.R text eol=lf
*.Rmd text eol=lf
*.Rd text eol=lf
*.Rproj text eol=lf
*.bib text eol=lf
*.cff text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.qmd text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.webmanifest text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf
.lintr text eol=lf
.Rbuildignore text eol=lf
DESCRIPTION text eol=lf
NAMESPACE text eol=lf
